<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/chats">
        <input placeholder="enter your name" name="from"><br><br>
        <textarea name="msg">Write your message</textarea><br><br>
        <input placeholder="received by" name="to"><br><br>
        <button>Submit</button>
    </form>
</body>
</html>